[Unit]
Description=Log WS2300 weather data to PostgreSQL
After=network-online.target

[Service]
Type=oneshot
User=@SERVICE_USER@
ExecStart=@BINDIR@/pgsql2300 @CONFDIR@/open2300.conf
TimeoutStartSec=40
